@model EditRescueStationModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<hr />
<br />

<form asp-action=@ViewData["Action"] asp-controller="Stations" method="post">
    <div class="form-group">
        <label asp-for="StationName" class="input-name">Название Спасательной Станции</label>
        <input asp-for="StationName" type="text" class="form-control required">
        <span asp-validation-for="StationName"></span>

        <input asp-for="StationId" type="hidden" />
    </div>

    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a class="btn btn-secondary" href="/Stations">Отмена</a>
</form>
