
@{
    ViewData["Title"] = "Станции";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Спасательные станции</h1>
<hr />

<br />
<div>
    <a href="/Stations/New" class="btn btn-primary">Добавить</a>
</div>
<br />

<div>

</div>

<table class="table table-striped" id="stations-table" style="max-height:100px;">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Станция</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts {
    <script type="text/javascript">

        var stationsTable;

        function loadStations() {
            $.ajax({
                url: "/Stations/GetListJson",
                type: "GET",
                dataType: "json",
                cache: false
            })
                .done(function (dataSet) {
                    let ind = 0;

                    stationsTable = $('#stations-table').DataTable({
                        destroy: true,
                        data: dataSet.map(function (d) { return { index: ++ind, name: d.stationName, id: d.stationId }; }),
                        columns: [
                            { data: "index" },
                            { data: "name" },
                            {
                                data: "id", render: function (data, type, row, meta) {
                                    return '<a class="btn btn-warning" href="/Stations/Edit?stationId=' + data + '">Изменить</a><button id="station-remove-btn" class="btn btn-danger" data-id="' + data + '">Удалить</button>'
                                }
                            },
                        ],
                        aoColumnDefs: [
                            { "sClass": "btn-col", "aTargets": [2] }
                        ],
                        language: {
                            url: "/localisation/dataTables.russian.lang.json"
                        }
                    });
                })
                .fail(function (error) {
                    errorAlert(error);
                });
        }

        $(function () {
            loadStations();
        }).on("click", "#station-remove-btn", function () {
            var id = $(this).data('id');
            var confirm = confirmDelete("Станция будет удалена. Продолжить?", function () {
                $.ajax({
                    url: "/Stations/Delete",
                    type: "Delete",
                    data: {
                        stationId: id
                    },
                    cache: false
                })
                    .done(function () {
                        successAlert("Станция успешно удалена");
                        loadStations();
                    })
                    .fail(function (error) {
                        console.error(error);
                        errorAlert("Не удалось удалить станцию")
                    })
            });
        })
    </script>
}