
@{
    ViewData["Title"] = "Станции";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Спасательные станции</h1>
<hr />

<br />
    <div>
        <a href="/Stations/New" class="btn btn-primary">Добавить</a>
    </div>
<br />

<div>

</div>

<table class="table table-striped" id="stations-table" style="max-height:100px;">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Станция</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section  scripts {
    <script type="text/javascript">
        $(function () {
            $.ajax({
                url: "/Stations/GetListJson",
                type: "GET",
                dataType: "json",
            })
                .done(function (dataSet) {
                    let ind = 0;

                    //$('#stations-table').DataTable({
                    //    data: dataSet.map(function (d) { return [ind++, d.stationName]; }),
                    //    columns: [
                    //        { title: "#" },
                    //        { title: "Станция" },
                    //        { title: "" }
                    //    ]
                    //});


                    var table = $('#stations-table').DataTable({
                        data: dataSet.map(function (d) { return { index: ++ind, name: d.stationName, id: d.stationId }; }),
                        columns: [
                            { data: "index" },
                            { data: "name" },
                            {
                                data: "id", render: function (data, type, row, meta) {
                                    return '<a class="btn btn-warning" href="/Stations/Edit?stationId=' + data + '">Изменить</a><a class="btn btn-danger" href="/Stations/Delete?stationId=' + data + '">Удалить</a>'//type === 'display' ? '<a href="/Stations/Delete?stationId=' + data + '" ><i class="fe fe-delete"></i></a>' : data;
                                }
                            },
                        ],
                        aoColumnDefs: [
                            { "sClass": "btn-col", "aTargets": [2] }
                        ],
                        language: {
                            url: "/localisation/dataTables.russian.lang.json"
                        }
                    });

                    //if (!data)
                    //    return;

                    //let html = '';

                    //data.forEach(function (val, ind) {
                    //    html += '<tr><td>' + (ind + 1) + '</td><td>' + val.stationName + '</td><td class="text-right">' + '<a class="btn btn-warning" href="/Stations/Edit?stationId=' + val.stationId + '">Изменить</a><button class="btn btn-danger">Удалить</button>' + '</td></tr>';
                    //})

                    //$('#stations-table tbody').html(html);
                })
                .fail(function (error) {
                    errorAlert(error);
                })
        })
    </script>
}