
@{
    ViewData["Title"] = "Станции";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Спасательные станции</h1>
<hr />
<br />

<div>
    <a href="/Stations/New" class="btn btn-primary"><i class="fa fa-plus fa-lg"></i> Добавить</a>
</div>
<br />


<div class="row">
    <div class="col-md-12">
        <table class="table table-striped display nowrap" id="stations-table" style="width:100%">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Станция</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        function loadStations() {
            $.ajax({
                url: "/Stations/GetListJson",
                type: "GET",
                dataType: "json",
                cache: false
            })
                .done(function (dataSet) {
                    let ind = 0;

                    $('#stations-table').DataTable({
                        destroy: true,
                        dom: "<'row'<'col-sm-6'l><'col-6 text-right'f>>" +
                            "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-5'i><'col-7 text-right'p>>",
                        data: dataSet.map(function (d) { return { index: ++ind, name: d.stationName, id: d.stationId, diversCount: d.diversCount }; }),
                        columns: [
                            { data: "index" },
                            { data: "name" },
                            {
                                data: function (data, type, dataToSet) {
                                    return '<a class="btn btn-primary" href="/Divers/Index?stationId=' + data.id + '"><span class="fa-stack has-badge" data-count="' + data.diversCount + '"><i class="fa fa-users fa-stack-1x"></i></span> Водолазы</a><a class="btn btn-warning" href="/Stations/Edit?stationId=' + data.id + '"><i class="fa fa-pencil fa-lg"></i> Изменить</a><button id="station-remove-btn" class="btn btn-danger" data-id="' + data.id + '"><i class="fa fa-trash-o fa-lg"></i> Удалить</button>';
                                }
                            }
                        ],
                        aoColumnDefs: [
                            { "sClass": "btn-col", "aTargets": [2] }
                        ],
                        language: {
                            url: "/localisation/dataTables.russian.lang.json"
                        }
                    });
                })
                .fail(function (error) {
                    errorAlert(error);
                });
        }

        $(function () {
            loadStations();
        }).on("click", "#station-remove-btn", function () {
            var id = $(this).data('id');
            confirmDelete("Станция будет удалена. Продолжить?", function () {
                $.ajax({
                    url: "/Stations/Delete",
                    type: "Delete",
                    data: {
                        stationId: id
                    },
                    cache: false
                })
                    .done(function () {
                        successAlert("Станция успешно удалена");
                        loadStations();
                    })
                    .fail(function (error) {
                        console.error(error);
                        errorAlert("Не удалось удалить станцию")
                    })
            });
        })
    </script>
}