@model EditDiverModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<hr />
<br />

<form method="POST" asp-action=@ViewData["Action"] asp-controller="Divers">
    <div class="row">
        <div class="col-md-12">
            <h5 class="card-title">Личные Данные</h5>
            <hr />
        </div>

        <div class="form-group col-md-4 col-sm-12">
            <label asp-for="LastName" class="input-name">Фамилия</label>
            <input asp-for="LastName" class="form-control" type="text" data-val-required="Это поле обязательно." data-val-length="Фамилия должна иметь длину от 2 до 50 символов." data-val-length-min="2" data-val-length-max="50" />
            <span asp-validation-for="LastName"></span>
        </div>

        <div class="form-group col-md-4 col-sm-12">
            <label asp-for="FirstName" class="input-name">Имя</label>
            <input asp-for="FirstName" class="form-control" type="text" data-val-required="Это поле обязательно." data-val-length="Имя должно иметь длину от 2 до 50 символов." data-val-length-min="2" data-val-length-max="50" />
            <span asp-validation-for="FirstName"></span>
        </div>

        <div class="form-group col-md-4 col-sm-12">
            <label asp-for="MiddleName" class="input-name">Отчество</label>
            <input asp-for="MiddleName" class="form-control" type="text"  data-val-length="Отчество должно иметь длину от 2 до 50 символов." data-val-length-min="2" data-val-length-max="50" data-val="false"/>
            <span asp-validation-for="MiddleName"></span>
        </div>

        <div class="form-group col-md-4 col-sm-12">
            <label asp-for="BirthDate" class="input-name">Дата Рождения</label>
            <input asp-for="BirthDate" class="form-control" type="text" id="birthDate" data-val-required="Это поле обязательно." autocomplete="off"/>
            <span asp-validation-for="BirthDate"></span>
        </div>

        <div class="form-group col-md-4 col-sm-12">
            <label asp-for="Address" class="input-name">Адрес</label>
            <input asp-for="Address" class="form-control" type="text" placeholder="г.Гомель, ул. - , д. - , кв. - " data-val-length="Адрес должен иметь длину не более 200 символов." data-val-length-max="200" data-val="false"/>
            <span asp-validation-for="Address"></span>
        </div>

        <div class="col-md-12">
            <h5 class="card-title">Водолазная Книжка</h5>
            <hr />
        </div>

        <div class="form-group col-md-4 col-sm-12">
            <label asp-for="PersonalBookProtocolNumber" class="input-name">№ Протокола</label>
            <input asp-for="PersonalBookProtocolNumber" class="form-control" type="text" data-val-required="Это поле обязательно." data-val-length="Номер протокола должен иметь длину не более 10 символов." data-val-length-max="10" />
            <span asp-validation-for="PersonalBookProtocolNumber"></span>
        </div>

        <div class="form-group col-md-4 col-sm-12">
            <label asp-for="PersonalBookNumber" class="input-name">Личный Номер</label>
            <input asp-for="PersonalBookNumber" class="form-control" type="text" data-val-required="Это поле обязательно." data-val-length="Личный номер должен иметь длину не более 10 символов." data-val-length-max="10" />
            <span asp-validation-for="PersonalBookNumber"></span>
        </div>

        <div class="form-group col-md-4 col-sm-12">
            <label asp-for="PersonalBookIssueDate" class="input-name">Дата Выдачи</label>
            <input asp-for="PersonalBookIssueDate" class="form-control" type="text" id="bookIssueDate" data-val-required="Это поле обязательно." autocomplete="off"/>
            <span asp-validation-for="PersonalBookIssueDate"></span>
        </div>

        <div class="col-md-12">
            <h5 class="card-title">Станция</h5>
            <hr />
        </div>

        <div class="form-group col-md-4 col-sm-12">
            <label asp-for="RescueStationId" class="input-name">Спасательная Станция</label>
            <select asp-for="RescueStationId" class="form-control" id="rescueStationSelect" data-val="true" data-val-required="Это поле обязательно.">
                <option value="">-Не Выбрано-</option>
            </select>
            <span asp-validation-for="RescueStationId"></span>
        </div>

        <div class="form-group col-md-4 col-sm-12">
            <label asp-for="Qualification" class="input-name">Квалификация</label>
            <select asp-for="Qualification" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <span asp-validation-for="Qualification"></span>
        </div>

        <div class="form-group col-md-4 col-sm-12">
            <label asp-for="MedicalExaminationDate" class="input-name">Дата Мед. Обследования</label>
            <input asp-for="MedicalExaminationDate" class="form-control" type="text" id="medicalExamDate" placeholder="Укажите дату" autocomplete="off"/>
            <span asp-validation-for="MedicalExaminationDate"></span>
        </div>
        <input asp-for="DiverId" type="hidden" />

    </div>
    <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Сохранить</button>
    <button class="btn btn-secondary" onclick="window.history.back();return false;">Отмена</button>
</form>

@section scripts {
    <script type="text/javascript">
        var datePickerConfigs = {
            locale: 'ru-ru',
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        }

        var model = @Json.Serialize(Model);

        $(function () {
            // load stations for the dropdown
            $.ajax({
                url: "/Stations/GetListJson",
                type: "GET",
                dataType: "json",
                cache: false
            })
                .done(function (dataSet) {
                    dataSet.forEach(function (i) {
                        $('#rescueStationSelect')
                            .append($("<option></option>")
                                .attr("value", i.stationId)
                                .text(i.stationName));
                    });
                    $('select option[value=@(Model.RescueStationId.HasValue ? Model.RescueStationId : 0)]').prop('selected', true);
                })
                .fail(function (error) {
                    errorAlert(error);
                });


            // initialize datepickers
            $('#birthDate').datepicker(datePickerConfigs);
            $('#bookIssueDate').datepicker(datePickerConfigs);
            $('#medicalExamDate').datepicker(datePickerConfigs);

            // forbid user input
            $("#birthDate, #bookIssueDate, #medicalExamDate").keydown(function (e) {
                e.preventDefault();
            });

            if (model.birthDate != null) {
                var birthDate = new Date(model.birthDate);
                $('#birthDate').val(birthDate.toLocaleDateString('en-GB'));
            }
            if (model.personalBookIssueDate != null) {
                var personalBookIssueDate = new Date(model.personalBookIssueDate);
                $('#bookIssueDate').val(personalBookIssueDate.toLocaleDateString('en-GB'));
            }
            if (model.medicalExaminationDate != null) {
                var medicalExaminationDate = new Date(model.medicalExaminationDate);
                $('#medicalExamDate').val(medicalExaminationDate.toLocaleDateString('en-GB'));
            }
        })
    </script>
}
