td a {
    margin-left: 5px;
    margin-right: 5px;
}

.btn-col {
    text-align: right;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

table.dataTable tbody td {
    vertical-align: middle;
}

.dataTables_length > label {
    white-space: nowrap;
}

.dataTables_filter > label {
    white-space: nowrap;
    display: inline-flex;
}

.dataTables_filter > label > input {
    margin-left: 10px;
}

ul.pagination {
    float: right;
}

label.bold-label {
    font-weight: bold;
}

#nav-tab, #nav-tabContent {
    margin-top: 10px;
}

#whours-table {
    margin-top: 10px;
}

#filterPanel {
    padding: 15px;
    border: 1px solid gray;
}

.main_input_file {
    display: none;
}

.upload_form {
    display: flex;
}

    .upload_form div {
        display: inline-flex;
        width: 100px;
        justify-content: center;
        align-items: center;
        height: 38px;
        background: #1B6EC2;
        border-radius: 4px;
        color: white;
        text-align: center;
        line-height: 32px;
        font-family: arial;
        font-size: 14px;
    }

        .upload_form div:hover {
            background: #2980b9;
            cursor: pointer;
        }

#f_name {
    flex: 1;
    background: transparent;
    border: 0;
    height: 38px;
    padding: 0 8px;
}